{% extends 'campaign_info/site_template.html' %}

{% block title %} Campaigns {% endblock %}

{% block content %}
    <div class="top-buttons">
        <a class="box-button back" href="{% url 'account' %}">Account</a>
    </div>

    <h1> Active Campaigns: </h1>
    <ul class="campaign-links">
    {% for campaign in my_campaigns %}
        <li><a class="campaign-link" href="{% url 'campaign-view' campaign.campaign_id %}"> {{campaign.name}}; on World {{campaign.world.name}}</a></li>
    {% endfor %}
    </ul>
{% endblock %}