{% extends 'campaign_info/site_template.html' %}
{% load static %}

{% block scripts %} 
    <link rel="stylesheet" href="{% static 'css/popup_style.css' %}">
    {{ country_map|json_script:"map-data" }}
    {{ country_name|json_script:"country" }}
    <script src="{% static 'js/map_generator.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="top-buttons">
        <a class="box-button back" onclick="history.back()">Go Back</a>
    </div>
    <h1 id="title"> {{ world.name }} World Map </h1>
    <object id="map" type="image/svg+xml" data="{{ map_url }}">
{% endblock %}